 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 650px;
}

.u-section-1 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto 50px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 650px;
}

.u-section-2 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto 50px;
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-2 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-2 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 650px;
}

.u-section-3 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto 50px;
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-3 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-3 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 650px;
}

.u-section-4 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto 50px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 650px;
}

.u-section-5 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto 50px;
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 974px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-6 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.u-section-6 .u-text-1 {
  animation-duration: 1000ms;
  text-shadow: 0px 7px 5px rgba(67,90,135,1);
  box-shadow: 0px 7px 5px 0 rgba(0,0,0,0);
  font-size: 4.5rem;
  background-image: none;
  margin: -716px 45px 0 1015px;
}

.u-section-6 .u-custom-html-1 {
  min-height: 127px;
  width: 700px;
  margin: 129px auto 45px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-right: 0;
    margin-left: 860px;
  }

  .u-section-6 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-6 .u-image-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -636px;
    margin-left: 640px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-6 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -456px;
    margin-left: 460px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-6 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -256px;
    margin-left: 260px;
  }

  .u-section-6 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 815px;
}

.u-section-7 .u-gallery-1 {
  height: 608px;
  width: 800px;
  margin: 1px auto 0;
}

.u-section-7 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-7 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-6 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-7 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-item-8 {
  margin-right: 0;
}

.u-section-7 .u-over-slide-8 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-7 .u-carousel-control-1 {
  position: absolute;
  left: -65px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-7 .u-carousel-control-2 {
  position: absolute;
  left: auto;
  width: 40px;
  height: 40px;
  background-image: none;
  right: -65px;
}

.u-section-7 .u-text-1 {
  font-size: 3.75rem;
  animation-duration: 1000ms;
  text-shadow: 0px 7px 5px rgba(34,75,76,1);
  box-shadow: 0px 7px 5px 0 rgba(0,0,0,0);
  margin: -17px 945px 0 -10px;
}

.u-section-7 .u-custom-html-1 {
  min-height: 127px;
  width: 700px;
  margin: -136px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-carousel-control-2 {
    right: 10px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 845px;
  }

  .u-section-7 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-gallery-1 {
    width: 720px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 735px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-gallery-1 {
    width: 540px;
  }

  .u-section-7 .u-text-1 {
    margin-right: 645px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-gallery-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 545px;
  }

  .u-section-7 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 1070px;
}

.u-section-8 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 53px auto 0;
}

.u-section-8 .u-text-1 {
  animation-duration: 1000ms;
  text-shadow: 0px 7px 5px rgba(114,104,63,1);
  box-shadow: 0px 7px 5px 0 rgba(0,0,0,0);
  font-size: 4.5rem;
  background-image: none;
  text-align: start;
  line-height: 1;
  margin: -760px 1010px 0 45px;
}

.u-section-8 .u-custom-html-1 {
  min-height: 127px;
  width: 700px;
  margin: 85px auto 46px;
}

@media (max-width: 1199px) {
  .u-section-8 .u-text-1 {
    margin-right: 855px;
    margin-left: 0;
  }

  .u-section-8 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-8 .u-image-1 {
    width: 720px;
    height: 720px;
  }

  .u-section-8 .u-text-1 {
    margin-top: -716px;
    margin-right: 635px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 810px;
  }

  .u-section-8 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 455px;
  }

  .u-section-8 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 610px;
  }

  .u-section-8 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-8 .u-text-1 {
    font-size: 2.25rem;
    margin-right: 255px;
  }

  .u-section-8 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-9 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.u-section-9 .u-custom-html-1 {
  height: auto;
  min-height: 127px;
  width: 700px;
  margin: 45px auto;
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-9 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-9 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-9 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-9 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-9 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-10 {
  background-image: none;
}

.u-section-10 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-10 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.u-section-10 .u-custom-html-1 {
  height: auto;
  min-height: 127px;
  width: 700px;
  margin: 45px auto;
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-10 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-10 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-10 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-10 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-10 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-11 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.u-section-11 .u-custom-html-1 {
  height: auto;
  min-height: 127px;
  width: 700px;
  margin: 45px auto;
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-11 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-11 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-11 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-11 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-11 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-12 {
  background-image: none;
}

.u-section-12 .u-sheet-1 {
  min-height: 1017px;
}

.u-section-12 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.u-section-12 .u-custom-html-1 {
  height: auto;
  min-height: 127px;
  width: 700px;
  margin: 45px auto;
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 937px;
  }

  .u-section-12 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 757px;
  }

  .u-section-12 .u-image-1 {
    width: 540px;
    height: 540px;
  }

  .u-section-12 .u-custom-html-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-12 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-12 .u-custom-html-1 {
    width: 340px;
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 651px;
}

.u-section-13 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 50px auto;
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-13 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-13 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-13 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-14 {
  background-image: none;
}

.u-section-14 .u-sheet-1 {
  min-height: 720px;
}

.u-section-14 .u-gallery-1 {
  height: 800px;
  width: 800px;
  margin: 60px auto;
}

.u-section-14 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-14 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-14 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-14 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-14 .u-carousel-control-1 {
  position: absolute;
  left: -65px;
  width: 40px;
  height: 40px;
  background-image: none;
  right: auto;
}

.u-section-14 .u-carousel-control-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: none;
  left: auto;
  right: -65px;
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-14 .u-gallery-1 {
    height: 720px;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 591px;
  }

  .u-section-14 .u-gallery-1 {
    height: 540px;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-14 .u-gallery-1 {
    height: 340px;
    width: 340px;
  }
} .u-section-15 {
  background-image: none;
}

.u-section-15 .u-sheet-1 {
  min-height: 651px;
}

.u-section-15 .u-image-1 {
  width: 800px;
  height: 800px;
  margin: 50px auto;
}

@media (max-width: 991px) {
  .u-section-15 .u-sheet-1 {
    min-height: 571px;
  }

  .u-section-15 .u-image-1 {
    width: 720px;
    height: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-15 .u-sheet-1 {
    min-height: 391px;
  }

  .u-section-15 .u-image-1 {
    width: 540px;
    height: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-15 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-15 .u-image-1 {
    width: 340px;
    height: 340px;
  }
} .u-section-16 {
  background-image: none;
}

.u-section-16 .u-sheet-1 {
  min-height: 148px;
}

.u-section-16 .u-btn-1 {
  border-style: none;
  margin: 50px auto;
  padding: 0;
}